    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}


    html{
        font-size: 16px;
        font-family: Corbel, Arial;
}

    body {
        padding: .4%; 
     /*  overflow: hidden;
         min-height: 100vh;*/
        
}

    h1{
          font-family: Corbel, Arial;
          font-weight: lighter;
          font-size: 2.5rem;
}
    h1.head{
            margin-bottom: 0;
            margin-top: 0;
        }

    h2,h3,h4{
          font-family: Corbel, Arial;
          font-weight: lighter;
}

    h2.head{
         margin: 0;
}

    h3{
         font-size: 1rem;
}

    img {
         width:100%;
}

/*    .scrollable{
        display: block;
        height: 1000px;
        overflow: auto;
        border: solid .4rem grey;
    }*/

    .vert {
         width: 67%;
    }

    .serie {
        padding: 2px;
        border-bottom: 6px double grey;
        border-right: 7px double grey;
    }

    .serie_vert {
        width: 67%;
        padding: 2px;
        border-bottom: 6px double grey;
        border-right: 7px double grey;
    }

    .single{
        padding: 2px;
        border-bottom: 2px solid grey;
        border-right: 2px solid grey;

    }

    .single_vert {
        width: 67%;
        padding: 2px;
        border-bottom: 2px solid grey;
        border-right: 2px solid grey;

    }

    .miniatura {
        width: 7.2rem;
        padding: .2rem;
        border: solid 2px silver;
    }

    .miniatura-pubblicazioni{
        max-height: 12rem;
        width: auto;
        padding: .2rem;
        border: solid 2px silver;
    }


    .miniatura-video {
        width: 16rem;
        padding: .2rem;
        border: solid 2px silver;
    }

    .miniatura-eventi {
        width: 100%;
        padding: .2rem;
        /*border: solid 1px silver;*/
    }

    .miniatura-evento {
        width: 86%;
        padding: .2rem;
        /*border: solid 1px silver;*/
    }

    a > .miniatura:hover{
        opacity: 0.7;
    }



     a > .miniatura-video:hover{
        opacity: 0.7;
     }


    td {
          vertical-align: top;
          padding: 0 .2rem 0 0;
}

     .menu{
        text-align:right;
     /* height: 1.7rem;
        line-height: 1.5rem;
        font-family:Georgia, "Times New Roman", Times, serif;
        font-size:16px;
        font-color:#58595b;
        font-style:italic;
        font-weight:bold;
        text-decoration:none;
        margin-bottom:.9rem;*/
        }

    .menu a {
        font-family:Georgia, "Times New Roman", Times, serif;
        font-size: clamp(1.1rem, 2.4vw, 1.4rem);
        color:#58595b;
        font-style:italic;
        font-weight:bold;
        transition: 0.5s;
    }

    .menu a:hover{
     /* font-size: 1.5rem;*/
        color: silver /*#FE9A37;
        background-color: #2ecc71;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);*/
    }

    a #no-hover{
        pointer-events: none;
        color:#58595b;
}

    a:hover #no-hover{
        color:#58595b;
}

    .menu #a-menu{
        color: #FE9A37 /*#911010;*/
    }

     .menu-evento{
        text-align: center;
/*      position: fixed;
        bottom: 2.2rem;
        background-color: yellow;
        height: 1.7rem;
        line-height: 1.5rem;
        font-family:Georgia, "Times New Roman", Times, serif;
        font-size:16px;
        font-color:#58595b;
        font-style:italic;
        font-weight:bold;
        text-decoration:none;
        margin-bottom:.9rem;*/
}


 /*  .menu-evento{
        text-align: right;
        height: 1.7rem;
        line-height: 1.5rem;
        font-family:Georgia, "Times New Roman", Times, serif;
        font-size:16px;
        font-color:#58595b;
        font-style:italic;
        font-weight:bold;
        text-decoration:none;
        margin-bottom:.9rem; (come era)
        }*/

    .menu-evento a {
        font-family:Georgia, "Times New Roman", Times, serif;
        font-size: clamp(1.1rem, 2.5vw, 1.4rem);
        color:#58595b;
        font-style:italic;
        font-weight:bold;
        transition: 0.5s;
    }        

    .menu-evento a:hover{
     /* font-size: 1.5rem;*/
        color: silver /*#FE9A37;
        background-color: #2ecc71;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);*/
    }

    .menu-evento #a-menu{
        color: #FE9A37 /*#911010;*/
    }

    .nav_sin{
        /*display: flex;*/
        position: relative;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }



 .nav_sin a {
    /*font-family:Georgia, "Times New Roman", Times, serif;*/
    /*flex: 1;*/
    font-size: 1.8rem;
    color:silver;
    /*font-style:italic;*/
    font-weight:bold;
    /*color: #FE9A37;*/
    margin-right: 2rem;
    transition: 0.5s;
    }

 .nav_sin a:hover {
    color:silver;
    }


    #selected{
        color:#878787;
        /*margin-left: .9rem;*/
    }

    .video{
        position: absolute;
        left: 7rem;
        /*margin-left: .9rem;*/
    }

    .pubblicazioni{
        position: absolute;
        left: 14.2rem;;
        /*margin-left: .9rem;*/
    }

    .info{
        position: absolute;
        left: 27.4rem;
        /*margin-left: .9rem;*/
    }

/*.nav_sin a:hover{
    font-size: 1.9rem;
    color: #58595b;file:///home/giacomo/Scrivania/DomenicosPERNUOVAHOME/indexnuovo2_altro_INFO.html
    background-color: #2ecc71;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2
    }*/

   .title {
        /*font-family:Georgia, "Times New Roman", Times, serif;*/
        font-size: 1.8rem;
        color:#58595b;
        /*font-style:italic;*/
        font-weight:bold;
        margin-top: 5.4rem;
        margin-bottom: 3.2rem;
   }

    .title2 {
      /*font-family:Georgia, "Times New Roman", Times, serif;
        font-style:italic;*/
        font-size: 1.5rem;
        /*color:#58595b;*/
        font-weight:bold;
        margin-top: 1.6rem;
        margin-bottom: .8rem;
   }

 /* .vox{
        margin-right: 2rrem;
    }

   .menu #a-menu:hover{
        font-size: 1.6rem;
        color: #FE9A37;
       /* background-color: #2ecc71;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }*/

   .menu #a-menu:hover{
        /*font-size: 1.5rem;*/
        color: silver;
       /* background-color: #2ecc71;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);*/
    }


    a:link, a:visited {
        /*color:#58595b;*/
        text-decoration: none;
        }


    .main-container {
        display: flex;
        flex-direction: column;
        /*height: 100vh;        */
    }

    .main-container2 {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .header{
        max-width: auto;
        padding-bottom:.4rem;
        padding: 0 .2rem .2rem .2rem; 
    /*  margin: auto;
        height: 16%;
        margin-top:-50px;
        margin-bottom: 50px; */
        }

 /*  .header{       
        margin: auto;
        max-width: auto;
        margin-bottom: 2rem;*/
        /*margin-top: auto;*/
        }   

     .header2{
        flex-grow: 1;
        margin: auto;
        margin-top:5px;
        margin-bottom: 50px;
        }
     

    .domenico{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:3.4rem;
    color:#58595b;
    font-style:inherit;
    /*margin-top:.4rem;*/
    border-bottom: solid 2px ;
    /*line-height:44px;*/
    }  

    .domenico #hover:hover{
        color:silver;
    }

    .domenico a{
        color:#58595b;
    }

     .domenico2{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:2.8rem;
    color:#58595b;
    font-style:inherit;
    margin-top:.4rem;
    border-bottom: solid 2px ;
    /*line-height:44px;*/
    }   

   

   
    .menu-orizzontale {
    display: flex; /* Dispone gli elementi in orizzontale */
    justify-content: flex-end; /* Allinea gli elementi a destra */
    list-style: none; /* Rimuove i pallini di default */
    gap: 20px; /* Spazio tra gli elementi */
    padding: 0;
    margin: 0;
    }

     /* Nasconde il sottomenu di default */
    .sottomenu {
    display: none;
    list-style: none; /* Rimuove i pallini di default */

    }

    /* Mostra il sottomenu quando si passa sopra l'elemento principale */
    .dropdown:hover .sottomenu {
    display: block;
    }


    .contenitore{
        display: block;
        overflow: auto;

    }



.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.containerPUBBLICAZIONI{
    position: absolute;
    padding: .5rem;
    /*width: 100%;*/
    height: auto;
    left: 14.2rem;
}

.containerINFO{
    position: absolute;
    padding: .5rem;
    /*width: 100%;*/
    height: auto;
    left: 27.4rem;
}

.containerVIDEO{
    position: absolute;
    padding: .5em;
    /*width: 100%;*/
    height: auto;
    left: 7rem;
}

.containerSCRITTI{
    position: absolute;
    padding: .5rem;
    /*width: 100%;*/
    height: auto;
}


.slide1 {
    position: absolute;
    top: 6%;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  /*background-position: center;
    opacity: 0; */
}

.slide1.active {
    opacity: 1;
}


.flex {
    margin: 0 0 60px; 
    background: #fff; 
    border: 4px solid #fff; 
    position: relative; 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    -o-border-radius: 4px; 
    border-radius: 4px; 
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
    box-shadow: 0 1px 4px rgba(0,0,0,.2); 
    zoom: 1; }

    
    .flex img {
        width:100%;
        display: block;
        /*border: 4px solid #fff;*/
    }


   .logo {
           margin: 0;
         /*left: 1.4rem;*/
           color: grey;
}

   .logo1 {
           position: absolute;
           bottom: 0;
           right: 0;
           margin: 0;
         /*left: 1.4rem;*/
           color: blue;
}

    .rows {
          display: flex;
          flex-wrap: wrap;
          /*flex: 1 1 300px;*/
          flex-direction: row;
          justify-content:space-between;
          align-items: flex-end;
          margin: .8rem;
        /*margin-bottom: 6%;
          background-color: lightblue;*/
}

    .rows2 {
          display: flex;
          flex-wrap: wrap;
          /*flex: 1 1 300px;*/
          flex-direction: row;
          justify-content:space-between;
          align-items: flex-end;
       /* margin: .8rem;
          margin-bottom: 6%;
          background-color: lightblue;*/
}


  .rows1 {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          /*flex: 1 1 300px;*/
          align-items: flex-end;
          justify-content: space-between;
          column-gap:3%;
        /*justify-content:space-evenly;
          margin: 2%;
          column-gap: 10px;
          align-items: flex-start;
          background-color: lightblue;*/
}

  .rows3 {
          position: relative;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          column-gap:10px;
       /* flex: 1;
          flex: 1 1 300px;
          align-items: flex-end;
          justify-content: space-between;
          height: 15.6rem;
          justify-content:space-between;
          margin: 2%;
          column-gap: 10px;
          align-items: flex-start;
          background-color: lightblue;*/
}

 .rows4 {
          display: flex;
       /* flex-wrap: wrap;
          flex: 1 1 300px;*/
          flex-direction: row;
          justify-content:space-between;
          align-items: flex-end;
          margin-bottom: 2.8rem;
        /*margin-bottom: 6%;
          background-color: lightblue;*/
}

 .rows4-eventi {
          display: flex;
       /* flex-wrap: wrap;
          flex: 1 1 300px;*/
          flex-shrink: 0
          flex-direction: row;
          justify-content:space-between;
          align-items: flex-end;
          margin: 1.6rem;
          border-bottom: solid 2px silver;
        /*margin-bottom: 6%;
          background-color: lightblue;*/
}


 .rows4-evento {
          display: flex;
          flex-direction: column;
       /* flex-wrap: wrap;
          flex: 1 1 300px;*/
          flex-shrink: 0
          flex-direction: row;
          text-align: center;
          justify-content:space-between;
          align-items: flex-end;
          padding: .8rem;
       /* border-bottom: solid 2px silver;
          margin-bottom: 6%;
          background-color: lightblue;*/
}

/* .rows4-evento {
          display: flex;
           * flex-wrap: wrap;
             flex: 1 1 300px;*
          flex-shrink: 0
          flex-direction: row;
          justify-content:space-between;
          align-items: flex-end;
          padding: .8rem;
           * border-bottom: solid 2px silver;
             margin-bottom: 6%;
             background-color: lightblue;*
}*/


    .colomn {
           /*flex: 32%;*/
            display: flex;
            flex-direction: column;
            flex: 1 1 17.5rem;
            margin: 0 2% 6% 2%;
          /*min-width: 240px; 
            max-width: 320px;*/
          /* */
          /*border: solid; */
}

    .colomn1 {
           /*flex: 32%;*/
            display: flex;
            flex-direction: column;
            flex: 1 0 2rem;
            justify-content: space-between;
         /* height: 13.5rem;

          
            
            max-width: 340px;
            min-width: 280px;
            margin: 0 0 2%;
            
            float: left;
            border: solid; */
}

  .colomn2 {
            /*flex: 32%;*/
            display: flex;
            flex-direction: column;
            flex: 1 1 20rem;
            justify-content: space-between;
           /*flex: 32%;
            display: flex;
            flex-direction: row;
            flex: 1 1 24rem;
            height:auto;
            align-items:flex-end;
            max-width: 340px;
            min-width: 280px;
            margin: 0 0 2%;
            align-items: flex-end;
            float: left;
            border: solid;*/
}



 /*    .colomn2 {
            display: flex;
            flex-direction: column;
            flex: 1 1 20rem;
            flex-direction: column;
            justify-content: flex-end;
            background-color:lavender;
} */


    .colomn3 {
           /*flex: 32%;
            flex: 1;*/
            display: flex;
            flex-direction: column;
            flex: 1 1 424px;
            height: 14rem;        
            justify-content: space-between;
            background-color:lavender;
         /* height: 13.8rem;  
            padding-bottom: .8rem;
            margin-bottom: 1rem;
            height: inherit;
            margin: 1%;
            max-width: 340px;
            min-width: 280px;
            align-items: flex-end;
            float: left;
            
            border: solid; */
}

    .contenitore_img{
          position: relative;
        /*flex: 0 0 60%;
          width:100%;
          flex-basis: 75%;*/
}

    
/*    .contenitore_img-plus{
        position: relative;
        bottom: 250px;
        z-index: 10;
        
    }

    .contenitore_img-plus img{
          position: absolute;
          border: white solid 1px;
          z-index: 20;
}

    .img1{
          left: 0rem;
          top: 0rem;
}
                    
    .img2{
          left: .5rem;
          top: .5rem;
}

    .img3{
          left: 1rem;
          top: 1rem;
}*/

    .contenitore_text{
        /*display: flex;
          flex-basis: 4em;*/
          height: 5.2rem;
          width: 100%;
}

   .contenitore_text2{
        /*display: flex;
          flex-basis: 4em;
          height: auto;
          width: 100%;*/
          margin: 4%;
          position: fixed;
          left: 80%;
          bottom: 0;
          transform: translateX(-50%);
        /*padding: 1%;
          border: solid 2px;*/
}

   .contenitore_text3{
        /*display: flex;
          flex-basis: 4em;
          height: auto;
          width: 100%;*/
          margin: 4%;
          padding: 1%;
          /*border-bottom: solid #a49f9fb2;*/
}


   .contenitore_text4{
        display: flex;
        flex-basis: 4em;
        height: auto;
        width: 100%;
        margin: 6% 12%;
        padding: 1%;
        border-bottom: solid #a49f9fb2;
}

    .contenitore_text5{
        /*display: flex;
          flex-basis: 4em;
          height: 5.2rem;*/
          margin-left: .6rem;
          width: 100%;
}

    .contenitore_text6{
        position: fixed;
        bottom: .2rem;
        align-self: center;
        width: 100%;
        background-color: ghostwhite;
     /* margin: .6rem;
        height: 1.7rem;
        display: flex;
        flex-basis: 4em;
        height: 5.2rem;
        margin-top: .6rem;
        */
}

     .contenitore_text7{
        /*display: flex;
          flex-basis: 4em;
          height: 5.2rem;*/
          margin-left: .6rem;
          position: relative;
          /*width: 100%;*/
}

/*    .contenitore_text6{
        /*display: flex;
          flex-basis: 4em;
          height: 5.2rem;
          margin-left: .6rem;
          width: 100%;
}*/


    .didascalia{
          margin-top: 0 ;
          padding: .6rem;
/*          font-weight: lighter;*/
}

    .didascalia-eventi{
          display: block;
          padding: 4%;
 /*       font-size: 1.2rem;
          margin-top: 0 ;
          font-weight: lighter;*/
}

    .didascalia-eventi-M{
          display: none;
          padding: 4%;
 /*       font-size: 1.2rem;
          margin-top: 0 ;
          font-weight: lighter;*/
}

   .contenitore_text5 a{
          color: inherit;
}

    .didascalia2{
          margin-top: 0 ;
          margin-bottom: 2rem;
  /*      padding: 2%;
          font-weight: lighter;*/
}


    .img-altre2{
          display: block;
          height: 100%;
          object-fit: contain;
          /*width: 100%;
          background-color:lightgray;
          */
}



    a > .img-altre:hover{
      opacity: 0.7;
}

   a > .contenitore_img:hover{
      opacity: 0.7;
}

    a > .picture > .miniatura-eventi:hover{
        opacity: 0.7;
}

 /*   .link-coprente{
         position: absolute;
         inset: 0; /* Riempie tutto il genitore (top: 0; right: 0; bottom: 0; left: 0;) 
  z-index: 1; Assicura che il link stia sopra gli altri elementi se necessario */
    }*/


    .anchor {
      position: absolute;
      top: 0;
      right: 0;
    /*left: 93%; 
      visibility: hidden;*/
}

    .anchor1{
      position: absolute;
      bottom: 0;
      right: 0;
    /*left: 93%; 
      visibility: hidden;*/
}

    .anchor2 {
      position: fixed;
      left: -2.8rem;
      bottom: 2.2rem;
      transform: rotate(-90deg);
      color:red;
   /* display: block;*/
}
/*
  /* IMAGE */
    /*.zoomD {*/
     /*display: block;
       height:100%;*/
       /*width: 100%;*/
       
    /* 
       border: 3px solid lightgrey;
       max-height: ;
       max-height: 300px;
       ease | ease-in | ease-out | linear */
     /*  transition: all ease-in-out 0.4s;
       cursor: grab;
}*/

    /*.contenitore_img > .zoomD:hover{*/
       /*
       transform: scale(.97); 
       border: 3px solid green;
       border: grey;
       transform: scale(1.04);
       border: solid grey;
       opacity: 0.7;
      
}

  /* LIGHTBOX BACKGROUND */
    /*#lb-back {
       position: fixed;
       top: 0;
       left: 0;
       width: 100vw;
       height: 100vh;
       background: rgba(0, 0, 0, 1);
       z-index: 999;
       visibility: hidden;
       opacity: 0;
       transition: all ease-in-out 0.4s;*/
    /* ease | ease-in | ease-out | linear
       transition: transform ease-in-out 0.5s; 
}

    #lb-back.show {
       visibility: visible;
       opacity: 1;
}

  /* LIGHTBOX IMAGE */
  /*  #lb-img {
       position: relative;
       top: 50%;
       transform: translateY(-50%);
       text-align: center;
       height: 100%;
    
}*/
/*    #lb-img img {
    /*FULL WIDTH IMAGE*/
     /*  width: auto;
       height: 100%;
       border: thick solid white;
       cursor: grab;*/

    /* MAX WIDTH 1200px IMAGE 
       height: 100%;
       max-height: 600px;/*era 1200px
       width: auto;
       margin: 0 auto;
       border: solid 4px white;
       cursor: zoom-out;
}

/*  @media screen and (max-width:622px) {
    .colomn {
       width: 100%;
}
/*  @media (max-width: 600px){
    .container{
       flex-direction: column;
            }*/

 @media screen and (max-width:700px),
        screen and (max-height: 320px)
        {
    
  h1,h2,h3,h4{
     font-weight: bold;
}


 .main-container {
    padding: .2rem;
    }


 
.domenico{
    font-size:2.4rem;
    margin-top:auto;
    line-height:auto;
    }



 .rows4-eventi {
          display: flex;
          flex-direction: row;
          justify-content:space-between;
          align-items: flex-end;
          margin: .4rem;
        /*border-bottom: solid 2px silver;
          margin-bottom: 6%;
          background-color: lightblue;*/
}

 .rows4-eventi > a {
    flex: 1 1 16rem;
    padding: .05rem;
    border: solid 1px silver;
    margin-bottom: .4rem;
 }



.flex{
    display: none;
}   

.flex img {
    display: none;
}

    .menu{
        text-align:left;
     /* height: 1.7rem;
        line-height: 1.5rem;
        font-family:Georgia, "Times New Roman", Times, serif;
        font-size:16px;
        font-color:#58595b;
        font-style:italic;
        font-weight:bold;
        text-decoration:none;
        margin-bottom:.9rem;*/
        }

    .menu a {
     /* font-size: 1.3rem;
        font-family:Georgia, "Times New Roman", Times, serif;
        color:#58595b;
        font-style:italic;
        font-weight:bold;
        transition: 0.5s;*/
    }

    .colomn1{
        min-height: 13.5rem;
}


    .miniatura-eventi {
        width: 100%;
        height: auto;
        padding: .2rem;
        /*border: solid 1px silver;*/
}

    .didascalia-eventi{
          display: none;
          padding: 4%;
 /*       font-size: 1.2rem;
          margin-top: 0 ;
          font-weight: lighter;*/
}

    .didascalia-eventi-M{
          display: block;
          padding: 4%;
 /*       font-size: 1.2rem;
          margin-top: 0 ;
          font-weight: lighter;*/
}

    .anchor2 {
        position: fixed;
        left: -2.9rem;
        bottom: 2.2rem;
}
      
     .img-altre2{
        margin-top: 4%;
        height: auto;
}

    .containerSCRITTI, .containerPUBBLICAZIONI, .containerVIDEO, .containerINFO{
        /*margin-left:.4rem;*/
        margin-bottom: 4rem;
        position: unset;
    }

    .containerVIDEO .rows4{
        display: block;
    }

    .containerVIDEO .contenitore_text5{
        margin-left: 0;
    }

    .containerVIDEO .didascalia{
        margin-top: .8rem;
        margin-left: 0;
        padding: 0;
    }

    .containerPUBBLICAZIONI .rows4{
        display: block;
    }

    .containerPUBBLICAZIONI .contenitore_text5{
        margin-left: 0;
    }

    .containerPUBBLICAZIONI .didascalia{
        margin-top: .8rem;
        margin-left: 0;
        padding: 0;
    }

    .video .pubblicazioni .info{
            position: unset;
            }

    .contenitore_img{
          position: relative;
    /*    flex: 0 0 60%;
          width:100%;
          flex-basis: 75%;*/
}

    .nav_sin{
        display: block;
        position: relative;
        margin-left: .4rem;
    }

    .nav_sin a{
        display: block;
        position: unset;
        font-size: 1.4rem;
        margin-bottom: .2rem;
      /*margin-top: .5rem;*/
    }


/*     #selected{
        margin-left: 0;
     }*/

     .title{
        font-size: 1.4rem;
     }

     #active{
        display: none;
        /*
        order: 1;
        flex: 1 0 100%;
        */
}     

        /*
   #lb-img img {
        */
        /*FULL WIDTH IMAGE*/
        /*
        width: 100%;
        height: auto;
        */

}

@media (orientation: landscape) {
     #lb-img img {
        /*FULL WIDTH IMAGE*/
        height: 100%;
        width: auto;
}

}

@media (orientation: portrait) {
      #lb-img img {
        /*FULL WIDTH IMAGE*/
        width:  100%;
        height: auto;
}
}



   /*.contenitore_img > .zoomD:hover{
        border: solid yellow;
        transform: scale(1.1);
        border: solid grey;
        opacity: 0.7;
} */

      /*
    .rows3 {
        flex-direction: column;
}


    h1 {
       font-size:3rem      
}

    h3 {
    font-size:1.2rem
}*/

